<div class="col-lg-6 mx-auto">
    <div class="card">
        <div class="card-header" style="background-color:blue ;">
         Confirmation Pending
        </div>
        <div class="card-body">
          <h5 class="card-title">Hey you are one step away !</h5>
          <p class="card-text"> We send uou a confirmation email please check your mailbox</p>
         </div>
      </div>
</div>